.review__card{
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
    margin: 20px auto;
}

.review__card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.review__user{
    color: var(--first-color);
    font-weight: bolder;
}