.review__modal{
    position: fixed;
    top: 5vh;
    left: 5vh;
    height: 90vh;
    width: 90vw;
    z-index: 5000;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.review__modal form{
    display: flex;
    flex-direction: column;
}

.modal__submit{
    border-radius: 5px;
    background-color: var(--first-color);
    color: white;
    width: 50%;
    margin: 20px auto;
}

.modal__submit:hover{
    background-color: var(--first-color-alt);
}

.slider__container{
    display: flex;
    gap: 10px;
    margin: 10px auto;
}