.search__form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* dropdown select  */
.search__box select {
    background-color: var(--first-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    margin-top: 40px;
  }

.form__field {
    margin: 20px 0;
    outline: none;
    border: none;
    border-bottom: solid var(--first-color) 2px;
    font-family: var(--body-font);
    width: 60vw;
}

.form__field:focus{
    border-bottom: solid var(--first-color-alt) 2px;
}

.search__submit{
    width: 100px;
    background-color: var(--first-color);
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin-bottom: 20px;
}

.search__submit:hover{
    cursor: pointer;
    background-color: var(--first-color-alt);
}
  
