@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.search__form{
    display: flex;
    flex-direction: column;
}

/* dropdown select  */
.box select {
    background-color: var(--first-color);
    color: white;
    padding: 12px;
    /* width: 250px; */
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

/* text input  */

.form__field {
    /* width: 100%; */
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
  
.slider-card {
  margin: auto;
}

#landing-content{
  padding-top: 3vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  /* border: 1px solid red; */
  text-align: center;
}

#landing-content>h3 {
  font-family: 'Poppins';
  font-weight: 300;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  /* border: 1px solid red; */
}


#brand-logo{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 30vh;
  height: auto;
  /* border: 1px solid red; */
  padding-bottom: 5vh;
}

@media screen and (max-width: 768px){
  #landing-content>h3{
    width: 90%;
  }
  #brand-logo{
    width: 90%;
  }
}