.slider-card{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    width: 70%
}

.slider-card>button {
    background-color: transparent;
    outline: none;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    margin: auto;
    justify-content: center;
}

.slider-card>div{
    margin: auto;
    display: flex;
    /* width: 90%; */
    justify-content: center;
}

.attempt1{
    width: 90%
}